/* ЗДЕСЬ СОДЕРЖАТСЯ ПРАВИЛА ТОЛЬКО ДЛЯ ВЕРХНЕГО БЛОКА СТРАНЦИЫ */

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Russo+One&display=swap');



.header{
        display: flex;
        position: relative;
        background-color: rgb(226, 226, 226);
        padding-top: 45px;
        padding-bottom: 45px;
        padding-right: auto;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: -12px;
        border-radius: 5%;
        box-shadow: 0px 0px 3px;
        }

.menu{
      position: absolute;
      top: 38px;
      right: 30px;
      word-spacing: 20px;
      font-family: "Russo One", sans-serif;
      }

.logo{
      position: absolute;
      width: 270px;
      left: 7px;
      top: 16px;
      }

/* ССЫЛКИ */

.menu a{
        text-decoration: none;
        color: red;
        }
.menu a:hover{
              color: tomato;
              }

.menu a:active{
               color: brown;
               }



